CemeteryManage/USO.Infrastructure/Service References/R3PriceWebService/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZWS_ZINT_SD0012binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZWS_ZINT_SD0012binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWS_ZINT_SD0012">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>5119117877A74BB0E10080000A030147</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZintSd0012">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zsa004">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa005">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa508">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Vkbur" type="n0:char4" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
          <xsd:element name="Kmein" type="n0:unit3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa710">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Vkbur" type="n0:char4" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa760">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Zzihrez" type="n0:char18" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa763">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsa764">
        <xsd:sequence>
          <xsd:element name="Kschl" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Vkbur" type="n0:char4" />
          <xsd:element name="Vkgrp" type="n0:char3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Kbetr" type="n0:curr11.2" />
          <xsd:element name="Konwa" type="n0:cuky5" />
          <xsd:element name="Kpein" type="n0:decimal5.0" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Datbi" type="n0:date10" />
          <xsd:element name="Mxwrt" type="n0:curr11.2" />
          <xsd:element name="Gkwrt" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZintSd0012">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="InA004" type="tns:Zsa004" />
            <xsd:element minOccurs="0" name="InA005" type="tns:Zsa005" />
            <xsd:element minOccurs="0" name="InA508" type="tns:Zsa508" />
            <xsd:element minOccurs="0" name="InA710" type="tns:Zsa710" />
            <xsd:element minOccurs="0" name="InA760" type="tns:Zsa760" />
            <xsd:element minOccurs="0" name="InA763" type="tns:Zsa763" />
            <xsd:element minOccurs="0" name="InA764" type="tns:Zsa764" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZintSd0012Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Retid" type="n0:char5" />
            <xsd:element name="Retmsg" type="n0:char100" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZintSd0012">
    <wsdl:part name="parameters" element="tns:ZintSd0012" />
  </wsdl:message>
  <wsdl:message name="ZintSd0012Response">
    <wsdl:part name="parameter" element="tns:ZintSd0012Response" />
  </wsdl:message>
  <wsdl:portType name="ZWS_ZINT_SD0012">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://upq:8000/sap/bc/esdt/docu/sd_text?sap-client=800&amp;sd_name=ZWS_ZINT_SD0012" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWS_ZINT_SD0012" />
    </wsp:Policy>
    <wsdl:operation name="ZintSd0012">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZintSd0012" />
      </wsp:Policy>
      <wsdl:input message="tns:ZintSd0012" />
      <wsdl:output message="tns:ZintSd0012Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_ZINT_SD0012binding" type="tns:ZWS_ZINT_SD0012">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZWS_ZINT_SD0012binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZintSd0012">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZINT_SD0012:ZintSd0012Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_ZINT_SD0012binding_SOAP12" type="tns:ZWS_ZINT_SD0012">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZWS_ZINT_SD0012binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZintSd0012">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZINT_SD0012:ZintSd0012Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_ZINT_SD0012">
    <wsdl:port name="ZWS_ZINT_SD0012binding" binding="tns:ZWS_ZINT_SD0012binding">
      <soap:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0012/800/zws_zint_sd0012/zws_zint_sd0012binding" />
    </wsdl:port>
    <wsdl:port name="ZWS_ZINT_SD0012binding_SOAP12" binding="tns:ZWS_ZINT_SD0012binding_SOAP12">
      <wsoap12:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0012/800/zws_zint_sd0012/zws_zint_sd0012binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>