CemeteryManage/USO.Infrastructure/Service References/R3UpdateOrderWebService/sd033.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWS_ZINT_SD0033">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>5119117877A74BB0E10080000A030147</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZintSd0033">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zchanso">
        <xsd:sequence>
          <xsd:element name="ItmNumber" type="n0:numeric6" />
          <xsd:element name="StoreLoc" type="n0:char4" />
          <xsd:element name="ReqQty" type="n0:quantum13.3" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="UnitPrice" type="n0:curr11.2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zxgxsdhed">
        <xsd:sequence>
          <xsd:element name="PartnNumb" type="n0:char10" />
          <xsd:element name="PartnName" type="n0:char35" />
          <xsd:element name="Stceg" type="n0:char20" />
          <xsd:element name="PartnAddr" type="n0:char60" />
          <xsd:element name="TelNumber" type="n0:char16" />
          <xsd:element name="BankName" type="n0:char60" />
          <xsd:element name="BankAccount" type="n0:char25" />
          <xsd:element name="Dlvschduse" type="n0:char3" />
          <xsd:element name="City" type="n0:char35" />
          <xsd:element name="BillBlock" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZchanso">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zchanso" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZintSd0033">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Vbeln" type="n0:char10" />
            <xsd:element minOccurs="0" name="Zchanso" type="tns:TableOfZchanso" />
            <xsd:element minOccurs="0" name="Zxghead" type="tns:Zxgxsdhed" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZintSd0033Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Returnid" type="n0:char1" />
            <xsd:element name="Returnmsg" type="n0:char100" />
            <xsd:element minOccurs="0" name="Zchanso" type="tns:TableOfZchanso" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZintSd0033">
    <wsdl:part name="parameters" element="tns:ZintSd0033" />
  </wsdl:message>
  <wsdl:message name="ZintSd0033Response">
    <wsdl:part name="parameter" element="tns:ZintSd0033Response" />
  </wsdl:message>
  <wsdl:portType name="ZWS_ZINT_SD0033">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWS_ZINT_SD0033" />
    </wsp:Policy>
    <wsdl:operation name="ZintSd0033">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZintSd0033" />
      </wsp:Policy>
      <wsdl:input message="tns:ZintSd0033" />
      <wsdl:output message="tns:ZintSd0033Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZWS_ZINT_SD0033">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZintSd0033">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZINT_SD0033:ZintSd0033Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZWS_ZINT_SD0033">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZintSd0033">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZINT_SD0033:ZintSd0033Request" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_ZINT_SD0019">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0033/800/zws_zint_sd0019/binding" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zint_sd0033/800/zws_zint_sd0019/binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>