CemeteryManage/USO.Infrastructure/Service References/R3CreateCustomerLegalWebService/ZWS_ZRFC_CREATE_CM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_binding">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_binding_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZWS_ZRFC_CREATE_CM">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>5119117877A74BB0E10080000A030147</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZrfcCreateCm">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char28">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="28" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char31">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="31" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Zbankinfo">
        <xsd:sequence>
          <xsd:element name="Banks" type="n0:char3" />
          <xsd:element name="Bankl" type="n0:char15" />
          <xsd:element name="Bankn" type="n0:char25" />
          <xsd:element name="Koinh" type="n0:char60" />
          <xsd:element name="Banka" type="n0:char60" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zcontactinfo">
        <xsd:sequence>
          <xsd:element name="Anred" type="n0:char15" />
          <xsd:element name="Name1" type="n0:char40" />
          <xsd:element name="Telf1" type="n0:char30" />
          <xsd:element name="Abtpa" type="n0:char40" />
          <xsd:element name="Fnctn" type="n0:char40" />
          <xsd:element name="Ablad" type="n0:char25" />
          <xsd:element name="Pafkt" type="n0:char2" />
          <xsd:element name="Oldname1" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zcustomerinfo">
        <xsd:sequence>
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Ktokd" type="n0:char4" />
          <xsd:element name="Anred" type="n0:char15" />
          <xsd:element name="Name1" type="n0:char40" />
          <xsd:element name="Sortl" type="n0:char10" />
          <xsd:element name="Street" type="n0:char60" />
          <xsd:element name="Suppl1" type="n0:char40" />
          <xsd:element name="Pstlz" type="n0:char10" />
          <xsd:element name="City" type="n0:char40" />
          <xsd:element name="Country" type="n0:char3" />
          <xsd:element name="Region" type="n0:char3" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Lzone" type="n0:char10" />
          <xsd:element name="Telf1" type="n0:char16" />
          <xsd:element name="Fax1" type="n0:char31" />
          <xsd:element name="Telbx" type="n0:char15" />
          <xsd:element name="Stceg" type="n0:char20" />
          <xsd:element name="Akont" type="n0:char10" />
          <xsd:element name="Zuawa" type="n0:char3" />
          <xsd:element name="Begru" type="n0:char4" />
          <xsd:element name="Knrze" type="n0:char10" />
          <xsd:element name="Fdgrv" type="n0:char10" />
          <xsd:element name="Bzirk" type="n0:char6" />
          <xsd:element name="Vkbur" type="n0:char4" />
          <xsd:element name="Vkgrp" type="n0:char3" />
          <xsd:element name="Kdgrp" type="n0:char2" />
          <xsd:element name="Waers" type="n0:cuky5" />
          <xsd:element name="Konda" type="n0:char2" />
          <xsd:element name="Kalks" type="n0:char1" />
          <xsd:element name="Versg" type="n0:char1" />
          <xsd:element name="Vsbed" type="n0:char2" />
          <xsd:element name="Vwerk" type="n0:char4" />
          <xsd:element name="Ktgrd" type="n0:char2" />
          <xsd:element name="Taxkd" type="n0:char1" />
          <xsd:element name="Ktonr" type="n0:char10" />
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Vkorg" type="n0:char4" />
          <xsd:element name="Vtweg" type="n0:char2" />
          <xsd:element name="Spart" type="n0:char2" />
          <xsd:element name="Inco1" type="n0:char3" />
          <xsd:element name="Inco2" type="n0:char28" />
          <xsd:element name="Zterm" type="n0:char4" />
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Name2" type="n0:char35" />
          <xsd:element name="Brsch" type="n0:char4" />
          <xsd:element name="Kukla" type="n0:char2" />
          <xsd:element name="Podkz" type="n0:char1" />
          <xsd:element name="Klabc" type="n0:char2" />
          <xsd:element name="Suppl2" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zunloadinfo">
        <xsd:sequence>
          <xsd:element name="Ablad" type="n0:char25" />
          <xsd:element name="Pafkt" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zsdt0011">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Zbh" type="n0:char2" />
          <xsd:element name="Zxhdms" type="n0:char100" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapireturn1">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZbankinfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zbankinfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZcontactinfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zcontactinfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZcustomerinfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zcustomerinfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZunloadinfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zunloadinfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfZsdt0011">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Zsdt0011" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZrfcCreateCm">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="TBankinfo" type="tns:TableOfZbankinfo" />
            <xsd:element minOccurs="0" name="TContactinfo" type="tns:TableOfZcontactinfo" />
            <xsd:element name="TCustomerinfo" type="tns:TableOfZcustomerinfo" />
            <xsd:element minOccurs="0" name="TUnloadinfo" type="tns:TableOfZunloadinfo" />
            <xsd:element minOccurs="0" name="TZsdt0011" type="tns:TableOfZsdt0011" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZrfcCreateCmResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Customerno" type="n0:char10" />
            <xsd:element name="Errmessage" type="n0:string" />
            <xsd:element name="Return" type="tns:Bapireturn1" />
            <xsd:element minOccurs="0" name="TBankinfo" type="tns:TableOfZbankinfo" />
            <xsd:element minOccurs="0" name="TContactinfo" type="tns:TableOfZcontactinfo" />
            <xsd:element name="TCustomerinfo" type="tns:TableOfZcustomerinfo" />
            <xsd:element minOccurs="0" name="TUnloadinfo" type="tns:TableOfZunloadinfo" />
            <xsd:element minOccurs="0" name="TZsdt0011" type="tns:TableOfZsdt0011" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZrfcCreateCm">
    <wsdl:part name="parameters" element="tns:ZrfcCreateCm" />
  </wsdl:message>
  <wsdl:message name="ZrfcCreateCmResponse">
    <wsdl:part name="parameter" element="tns:ZrfcCreateCmResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_ZRFC_CREATE_CM">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZWS_ZRFC_CREATE_CM" />
    </wsp:Policy>
    <wsdl:operation name="ZrfcCreateCm">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZrfcCreateCm" />
      </wsp:Policy>
      <wsdl:input message="tns:ZrfcCreateCm" />
      <wsdl:output message="tns:ZrfcCreateCmResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZWS_ZRFC_CREATE_CM">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZrfcCreateCm">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZRFC_CREATE_CM:ZrfcCreateCmRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="binding_SOAP12" type="tns:ZWS_ZRFC_CREATE_CM">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_binding_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZrfcCreateCm">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_ZRFC_CREATE_CM:ZrfcCreateCmRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_ZRFC_CREATE_CM">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_cm/800/zws_zrfc_create_cm/binding" />
    </wsdl:port>
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="http://upq:8000/sap/bc/srt/rfc/sap/zws_zrfc_create_cm/800/zws_zrfc_create_cm/binding" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>